/* Navbar.module.css */
.navbar {
    background-color: #333;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
  }
  
  .navbarContainer {
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    max-width: 1200px;
  }
  
  .navbarLogo {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0 20px;
  }
  
  .menuIcon {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
    color: #fff;
  }
  
  .navMenu {
    display: flex;
    list-style: none;
    text-align: center;
  }
  
  .navMenuActive {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 0;
  }
  
  .navItem {
    line-height: 60px;
    margin-right: 20px;
  }
  
  .navLinks {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  
  .navLinks:hover {
    background-color: #575757;
    border-radius: 4px;
    transition: all 0.3s ease;
  }
  
  @media screen and (max-width: 768px) {
    .menuIcon {
      display: block;
    }
  
    .navMenu {
      display: none;
    }
  
    .navMenuActive {
      display: flex;
    }
  
    .navItem {
      line-height: 40px;
      margin: 0;
    }
  }
  