:root {
  --dark-color: rgb(20, 13, 13);
  --primary-color: #dfedf735;
  --secondary-color: #198754;
  --hover-primary-color: #e7f2fe41;
  --hover-secondary-color: #6c757d;
  --light-color: rgb(237, 208, 208);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark-color) !important; /* Dark background color */
  color: #ffffff !important; /* Light text color for better contrast */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}